.AppContent {
  padding: 1.25em;
}

.SearchBar {
  max-width: 12.5rem;
  margin-bottom: 1rem;
}

/* Product grid styles */
.ProductContainer {
  padding: 1.75em;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #dd8484;
  border-radius: 15px;
}

.ProductImage {
  vertical-align: middle;
  height: 200px;
  border-radius: 10px;
  max-width: 100%;
}

.ProductPrice {
  font-size: 1.5em;
  margin: 0;
}

.RoutingLink {
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .CartText{
    text-align:center;
    margin:auto;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .CartItemImage {
    display: none;
  }

  .ProductDetails-Container {
    padding-bottom: 3.5rem;
    margin: 3.5rem auto;
    display: flex;
    width: 80%;
    max-width: 27rem;
  }

  .ProductDetails-Image {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .ProductDetails-SelectionPanel {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    min-height: 90%;
  }

  .navbar-links {
    display: none;
  }

  .Navbar-LogoLarge {
    display: none;
  }

  .Navbar-LogoSmall {
    max-width: 3.5rem;
  }
}

@media only screen and (min-width: 550px) {
  .CartText{
    display: flex;
    padding-bottom: 1rem;
  }

  .ProductDetails-Container {
    padding-bottom: 3.5rem;
    margin: 3.5rem auto;
    display: flex;
    max-width: 27rem;
  }

  .ProductDetails-Image {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .ProductDetails-SelectionPanel {
    margin: 3.5rem 0 0 0;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }

  .Navbar-LogoSmall {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .ProductDetails-Container {
    width: 80%;
    max-width: 55rem;
  }

  .ProductDetails-SelectionPanel {
    margin: 5rem 0 0 -1rem;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }
}

.ProductDetails-ItemContainer {
  margin-top: 1rem;
  padding: 0.2rem 3rem 3rem 3rem;
  color: white;
  background-color: #dd8484;
  border-radius: 15px;
}

.ProductDetails-ImageContainer {
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .CartItemImage {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .CartItemImage {
    max-width: 8rem;
    max-height: 8rem;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .CartItem {
    background-color: rgba(89, 163, 89, 0.842);
    margin-bottom: 2rem;
    border-radius: 10px;
    max-height: 15rem;
  }
}

/* Shared between cart page and product details */
.QuantityButtons-Shared {
  min-width: 10px;
  padding: 0.6rem;
}

.ProductDetails-QuantityButtonsContainer {
  margin-top: 3.5rem;
}

.ProductDetails-QuantityButtonsStack {
  display: flex;
  justify-content: center;
}

.inputne {
  max-width: 35px;
  text-align: center;
}

.ProductDetails-ProductLimitText {
  color: #e88c8c;
}

.ProductDetails-CartButton {
  margin: 4rem auto 1rem auto;
  display: flex;
}

/* Seller Products Page */

.sellerContainer {
  padding-top:2rem;
  margin: auto;
  max-width: 68.8rem;
}

.sellerTableContainer {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  max-width: 68.8rem;
  background-color: #e99898;
  border-radius: 10px;
}

.sellerImage {
  max-width: 3rem;
  max-height: 2rem;
}

.sellerTable {
  background-color: white;
  width: 70rem;
}

.sellerButtonsContainer {
  padding-top: 1rem;
}

/* Cart Page */
.Cart-Container {
  max-width: 90rem;
  margin: auto;
}

.Cart-Alert {
  margin-top: 1.5rem;
}

.CartItemsContainer {
  color: white;
}

.CartItem {
  background-color: rgba(89, 163, 89, 0.842);
  margin-bottom: 2rem;
  border-radius: 10px;
}

.Cart-RetailerInfo {
  display: flex;
}

.Cart-SideBannerContainer {
  height: fit-content;
}

.Cart-SideBanner {
  height: fit-content;
  min-width: 19rem;
  max-width: 19rem;
  border-radius: 10px;
  border: solid 7px #e88c8c;
  padding: 0 2rem;
  margin: 0 auto 2rem auto ;
}

.Cart-OrderButton {
  padding: 2rem 0;
}

.Cart-Quantity {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.Cart-CloseButton {
  padding: 0;
  border-radius: 40px;
  color: #ff7e7e;
}

.Cart-CloseButton:hover {
  color: #e47272;
}

.Cart-CloseButton:active {
  color: white;
}

.ProductsBackButton {
  color: #c46b6b;
  padding: 0 0.5rem 0 0;
  max-height: 2rem;
}

.ProductsBackButton:hover {
  background-color: #e88c8c10;
}

/* Register Page */

.register-page {
  max-width: 36rem;
  margin: 2rem auto;
  border-style: hidden;
  border-radius: 10px;
  background-color: #e88c8c;
  padding: 2rem;
}

.sign-up {
  padding: 3rem;
  background-color: white;
  border-radius: 10px;
}

/*Navbar styles*/

.NavBar {
  margin-bottom: 10px;
  background-color: rgb(62, 134, 62);
}

.Navbar-RoutingLink {
  color: white;
  text-decoration: none;
}

/* Global Styles */

/* Button styles may be used for other pages */
.ProductButton {
  color: rgb(203, 253, 203);
  border-color: rgb(78, 219, 78);
  transition: 0.3s all ease-in-out;
}

.GreenButtonContained {
  background-color: rgb(74, 143, 74);
}

.GreenButtonText {
  color: rgb(74, 143, 74);
}

.GreenButtonText:hover {
  background-color: rgba(74, 143, 74, 0.055);
}

.PinkButtonContained {
  background-color: #e88c8c;
}

.PinkButtonContained:hover {
  background-color: #d48181;
}

.ProductButton,
.GreenButtonContained,
.PinkButtonContained {
  height: 3em;
}

.ProductButton:hover,
.GreenButtonContained:hover {
  background-color: rgb(59, 121, 59);
  border-color: rgb(60, 121, 60);
}

/* Text colors */
.TextPink {
  color: #ca6c6c;
}

.TextGreen {
  color: rgb(60, 121, 60);
}

.GreenButtonText {
  color: rgb(74, 143, 74);
}

.GreenButtonText:hover {
  background-color: rgba(74, 143, 74, 0.055);
}

.GreenButtonOutlined {
  color: rgb(74, 143, 74);
  border-color: rgb(74, 143, 74);
}

.GreenButtonOutlined:hover {
  background-color: rgba(74, 143, 74, 0.055);
  border-color: rgb(74, 143, 74);
}

.PinkButtonContained:hover {
  background-color: #d48181;
}

.ProductButton,
.GreenButtonContained,
.PinkButtonContained {
  height: 3em;
}

.ProductButton:hover,
.GreenButtonContained:hover {
  background-color: rgb(59, 121, 59);
  border-color: rgb(60, 121, 60);
}

/* Text colors */
.TextPink {
  color: #ca6c6c;
}

.TextGreen {
  color: rgb(60, 121, 60);
}

.GreenButtonOutlined:active {
  color: rgb(74, 143, 74);
  border-color: rgb(74, 143, 74);
}


.accordion-width {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  /*add breakpoint to make everything full width below medium screens*/
}

.Bobble {
  width: 330px;
}

.BobbleLogoPadding {
  padding: 0.5em;
}

/* TextField Override (Green Border) */
.MuiFormLabel-root.Mui-focused {
  color: rgb(60, 121, 60) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(60, 121, 60) !important;
}


.MuiInput-underline:after {
  border-color: rgb(60, 121, 60) !important;
}

.GreenLink:link {
  color: rgb(60, 121, 60);
}

.GreenLink:hover {
  color: rgb(45 89 45);
}
.GreenLink:active {
  color: rgb(97 190 97);
}

.GreenLink:visited {
  color: #ca6c6c;
}

/* TextField Override (Green Border) */
.MuiFormLabel-root.Mui-focused {
  color: rgb(60, 121, 60) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(60, 121, 60) !important;
}


/*Loading Spinner*/
#LoadingSpinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(60, 121, 60, 0.25) solid;
  border-top: 4px rgb(60, 121, 60) solid;
  border-radius: 50%;
  -webkit-animation: spin2 1s infinite linear;
  animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}