.AppContent {
  padding: 1.25em;
}

.SearchBar{
    max-width: 12.5rem;
    margin-bottom: 1rem;
}

/* Product grid styles */
.ProductContainer {
  padding: 1.75em;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #e88c8c;
  border-radius: 15px;
}

.ProductImage {
  vertical-align: middle;
  height: 200px;
  max-width: 100%;
}

.ProductPrice {
  font-size: 1.5em;
  margin: 0;
}

.RoutingLink {
    text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .CartItemImage {
    display:none;
  }

  .ProductDetails-Container {
    padding-bottom: 3.5rem;
    margin: 3.5rem auto;
    display: flex;
    width: 80%;
    max-width: 27rem;
  }

  .ProductDetails-Image {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .ProductDetails-SelectionPanel {
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    min-height: 90%;
  }

  .navbar-links{
    display:none;
  }

  .Navbar-LogoLarge{
    display:none;
  }

  .Navbar-LogoSmall{
    max-width:3.5rem;
  }
}

@media only screen and (min-width: 550px) {
  .CartItemImage {
    max-width: 8rem;
    max-height: 8rem;
    padding: 1rem;
    margin:auto;
    display:flex;
  }

  .ProductDetails-Container {
    padding-bottom: 3.5rem;
    margin: 3.5rem auto;
    display: flex;
    max-width: 27rem;
  }

  .ProductDetails-Image {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .ProductDetails-SelectionPanel {
    margin: 3.5rem 0 0 0;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }

  .Navbar-LogoSmall{
    display:none;
  }
}

@media only screen and (min-width: 900px) {
  .ProductDetails-Container {
    width: 80%;
    max-width: 55rem;
  }

  .ProductDetails-SelectionPanel {
    margin: 5rem 0 0 -1rem;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }
}

.ProductDetails-ItemContainer {
  margin-top: 1rem;
  padding: 0.2rem 3rem 3rem 3rem;
  color: white;
  background-color: #e88c8c;
  border-radius: 15px;
}

.ProductDetails-ImageContainer {
  background-color: white;
  border-radius: 10px;
}

.ProductDetails-QuantityButtons {
  min-width: 10px;
  padding: 0.3rem;
}

.ProductDetails-QuantityButtonsContainer {
  margin-top: 3.5rem;
}

.ProductDetails-QuantityButtonsStack {
  display: flex;
  justify-content: center;
}

.inputne {
  max-width: 30px;
  text-align: center;
}

.ProductDetails-ProductLimitText {
  color: #e88c8c;
}

.ProductDetails-CartButton {
  margin: 4rem auto 1rem auto;
  display: flex;
}

/* Seller Products Page */

.sellerContainer {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  max-width:68.8rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.sellerImage {
  max-width: 3rem;
  max-height: 2rem;
}

.sellerTable {
  background-color: white;
  border-radius: 10px;
  width: 70rem;
}

.sellerButtonsContainer {
  padding: 1rem 0;
}


/* Cart Page */
.Cart-Container {
  max-width:90rem;
  margin:auto;
}

.Cart-Alert {
  margin: 1.5rem auto 0 auto;
  display: flex;
}

.CartItemsContainer {
  color: white;
}

.CartItem {
  background-color: rgb(72, 136, 72);
  margin-bottom:2rem;
  border-radius: 10px;
}

.Cart-RetailerInfo {
  display:flex;
}

.Cart-SideBannerContainer {
  height: fit-content;
}

.Cart-SideBanner {
  height: fit-content;
  min-width:19rem;
  max-width:19rem;
  border-radius: 10px;
  border: solid 7px #e88c8c;
  padding: 0 2rem;
  margin: 0 auto;
}

.Cart-OrderButton{
  padding: 2rem 0;
}

.Cart-ItemButtons {
  padding-top: 1rem;
}

.Cart-Quantity {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.Cart-CloseButton {
  float: right;
  color: #9de52b;
}

.Cart-ProductsBackButton {
  color: #e88c8c;
}


/* Register Page */
.Sign-Up-Text {
  font-size: 3em;
  margin: 0%;
  margin-bottom: 2rem;
}

.register-page {
    max-width: 36rem;
    margin: auto;
    border-style: hidden;
    border-radius: 10px;
    background-color: #e88c8c;
    padding: 2rem;
}

.sign-up {
    padding: 3rem;
    background-color: white;
    border-radius: 10px;
}

#SignUpButton {
    background-color: rgb(72, 136, 72);
}

/*Navbar styles*/

.NavBar{
  margin-bottom: 10px;
  background-color: rgb(50, 120, 50);
}

.Navbar-RoutingLink{
  color:white;
  text-decoration:none;
}

.SideNavPriceFilter{
    color: rgb(50, 120, 50);
}

/* Button styles may be used for other pages */
.ProductButton {
    color: rgb(203, 253, 203);
    border-color: rgb(78, 219, 78);
    transition: 0.3s all ease-in-out;
}

.ProductButtonContained {
    background-color: rgb(72, 136, 72);
}

.ProductButtonContainedPurple{
  background-color: #a75e7d;
}

.ProductButtonContainedPurple:hover{
  background-color: #c46d92;
}

.ProductButton, .ProductButtonContained, .ProductButtonContainedPurple {
    height: 3em;
}

.ProductButton:hover, .ProductButtonContained:hover {
  background-color: rgb(88, 176, 88);
  border-color: rgb(60, 121, 60);
}

.accordion-width {
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    /*add breakpoint to make everything full width below medium screens*/
}

.Bobble{
    width: 330px;
}

.BobbleLogoPadding{
    padding: 0.5em;
}
