/* Specifying font families and typography */
@font-face {
  font-family: 'CHANEY';
  src: local('CHANEY'), url(./fonts/CHANEY-Regular.otf) format('opentype');
}

h1, h2, h3 {
  font-family: 'CHANEY';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}